# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

BASE_URL=

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=56dccc6e8d752b8c60ac2a928a554810
#TRUSTED_PROXIES=127.0.0.1,127.0.0.2
#TRUSTED_HOSTS=localhost,example.com
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
# Format described at http://docs.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# For an SQLite database, use: "sqlite:///%kernel.project_dir%/var/data.db"
# Configure your db driver and server_version in config/packages/doctrine.yaml
DATABASE_URL=mysql://db_user:db_password@127.0.0.1:3306/db_name
###< doctrine/doctrine-bundle ###

###> doctrine/mongodb-odm-bundle ###
MONGODB_URL=mongodb://mongodb:27017
MONGODB_DB=changeblog
MONGODB_USERNAME=changeblog
MONGODB_PASSWORD=changeblog
###< doctrine/mongodb-odm-bundle ###

###> symfony/swiftmailer-bundle ###
# For Gmail as a transport, use: "gmail://username:password@localhost"
# For a generic SMTP server, use: "smtp://localhost:25?encryption=&auth_mode="
# Delivery is disabled by default via "null://localhost"
MAILER_URL=null://localhost
###< symfony/swiftmailer-bundle ###

# List of IPs that should have access to site in maintenance mode (soft-lock only).
MAINTENANCE_ALLOWED_IPS='["192.168.0.1","127.0.0.1"]'

# Google Analytics tracking ID.
GOOGLE_TRACKING_ID=

CHANGEBLOG_CACHE=

###> docker-compose ###
COMPOSE_PROJECT_NAME=changeblog

# PHP-FPM
PHP_IDE_CONFIG=serverName=docker

# MongoDB
MONGO_URL=mongodb://mongodb:27017
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=root
MONGO_INITDB_DATABASE=changeblog
MONGO_INITDB_USERNAME=changeblog
MONGO_INITDB_PASSWORD=changeblog

# Mongo-Express
ME_CONFIG_BASICAUTH_USERNAME=admin
ME_CONFIG_BASICAUTH_PASSWORD=admin
###< docker-compose ###
